<div class="container mt-3">
    <h1>Cientistas</h1>
    <div class="row">
        <div *ngFor="let cientist of cientists" style="width:300px">
            <div class="card mr-3">
                <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar"
                    style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{cientist.nome}}</h4>
                    <p class="card-text">{{cientist.email}}</p>
                </div>
                <div class="btn btn-info" (click)="gotoDetails(cientist)">Ver detalhes</div>
            </div>
        </div>
    </div>
</div>