<div class="container justify-content-center">
    <div *ngIf="msgSuccess">
        <app-register-success></app-register-success>
    </div>
    <form ngNativeValidate>
        <h1 class="h3 mb-3 font-weight-normal">Atualizar dados</h1>
        <div class="form-group">
            <label for="nome" class="sr-only">Nome Completo</label>
            <input id="nome" type="text" [(ngModel)]="pessoa.nome" class="form-control" name="nome" required="true">
        </div>

        <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input id="email" type="email" [(ngModel)]="pessoa.email" class="form-control" name="email" required="true">
        </div>

        <div class="form-group">
            <label for="empresa" class="sr-only">Empresa</label>
            <input id="empresa" type="text" [(ngModel)]="pessoa.empresa" class="form-control" name="empresa"
                required="true">
        </div>

        <div class="form-group">
            <label for="senha" class="sr-only">Senha:</label>
            <input id="senha" type="password" [(ngModel)]="pessoa.senha" class="form-control" name="senha"
                required="true">
        </div>
        
        <input (click)="Atualizar(pessoa)" class="btn btn-success" type="submit" value="Atualizar dados">
        <a href="/profile" class="btn btn-info ml-3">Voltar para o perfil</a>
    </form>
</div>