<div class="container justify-content-center">
    <form ngNativeValidate>
        <h1 class="h3 mb-3 font-weight-normal">Atualizar dados</h1>
        <div class="form-group">
            <label for="nome" class="sr-only">Nome Completo</label>
            <input id="nome" type="text" [(ngModel)]="pessoa.nome" class="form-control" name="nome" required="true">
        </div>

        <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input id="email" type="email" [(ngModel)]="pessoa.email" class="form-control" name="email" required="true">
        </div>

        <div class="form-group">
            <label for="empresa" class="sr-only">Empresa</label>
            <input id="empresa" type="text" [(ngModel)]="pessoa.empresa" class="form-control" name="empresa"
                required="true">
        </div>

        <div class="form-group">
            <label for="senha" class="sr-only">Senha</label>
            <input id="senha" type="password" [(ngModel)]="pessoa.senha" class="form-control" name="senha"
                required="true">
        </div>

        <div class="form-group">
            <label for="inicioDaAtividade" class="sr-only">Inicio da atividade</label>
            <input id="inicioDaAtividade" type="text" [(ngModel)]="pessoa.inicioDaAtividade" class="form-control" name="inicioDaAtividade"
                required="true">
        </div>

        <div class="form-group">
            <label for="dataNascimento" class="sr-only">Data de Nascimento</label>
            <input id="dataNascimento" type="text" [(ngModel)]="pessoa.dataNascimento" class="form-control" name="dataNascimento"
                required="true">
        </div>

        <div class="form-group">
            <label for="nivelEscolaridade" class="sr-only">Nivel de escolaridade</label>
            <input id="nivelEscolaridade" type="text" [(ngModel)]="pessoa.nivelEscolaridade" class="form-control" name="nivelEscolaridade"
                required="true">
        </div>

        <div class="form-group">
            <label for="cidade" class="sr-only">Cidade</label>
            <input id="cidade" type="text" [(ngModel)]="pessoa.cidade" class="form-control" name="cidade"
                required="true">
        </div>

        <div class="form-group">
            <label for="estado" class="sr-only">Estado</label>
            <input id="estado" type="text" [(ngModel)]="pessoa.estado" class="form-control" name="estado"
                required="true">
        </div>

        <input (click)="Atualizar(pessoa)" class="btn btn-success" type="submit" value="Atualizar dados">
        <a routerLink="/profile" class="btn btn-info ml-3">Voltar para o perfil</a>
    </form>
</div>