<div class="container mt-3" *ngIf="pessoa">
    <div class="row">
        <div style="width:500px">
            <div class="card">
                <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar"
                    style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{cientist.nome}}</h4>
                    <p class="card-text">{{cientist.email}}</p>
                </div>
                <div class="btn btn-info" (click)="gotoDetails(cientist)">Ver detalhes</div>
            </div>
        </div>
    </div>
</div>