<div class="container mt-3" *ngIf="pessoa">
    <div class="card" style="width: 400px;">
        <div class="row">
            <img class="card-img-top col-md-6" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar"
                style="width:100%">
            <div class="card-body col-md-6">
                <h4 class="card-title">{{pessoa.nome}}</h4>
                <p class="card-text">{{pessoa.email}}</p>
            </div>
            <div class="btn btn-info" (click)="gotoList()">Voltar a lista</div>
        </div>
    </div>
</div>